<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:include="cabecalho :: headerFragment">
    <title>Cadastro</title>
    </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="menu">CADASTRO DE GMUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item active">
              <a class="nav-link" href="/consulta">Consulta</a>
            </li>
           
            <!--
            <li class="nav-item">
              <a class="nav-link" href="cadastro">Cadastro</a>
            </li>
             -->
            
            <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
			    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/cadastro">Gmuds</a>
				      <a class="dropdown-item" href="/fornecedor">Fabrica</a>
				      <a class="dropdown-item" href="/recurso">Recurso</a>
				      <a class="dropdown-item" href="/sistema">Sistema</a>	
			    </div>
			</li>
			
			<li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Log Out</a>
            </li>
                    
          </ul>
        </div>
      </div>
    </nav>	

	<!-- Page Content -->
	
	<div class="align-justify">
	
	<form class="border-class" th:object="${myVal}" th:action="@{/cadastrar}" method="post" input width="90%" >
			
		<h2>Inserir dados para cadastro	</h2>
		<p></p>
		
  		<div class="row">
    		<div class= "form-group col-md-6" "col">
    			<label for="codigo">Codigo GMUD:</label>
      			<input th:field="*{codigo}" type="text" id="codigo" name="codigo" class="form-control">
    		</div>
    		
    		<div class= "form-group col-md-6" "col">
    			<label for="gmud">Descricao:</label>
     			<input th:field="*{nome_gmud}" type="text" id="nome_gmud" class="form-control">
   			</div>
  		</div>
  		
  		
  		<div class="row">
    		<div class= "form-group col-md-6" "col">
    			<label for="fornecedor">Fabrica:</label>
    			<input th:field="*{fornecedor}" type="text" id="fornecedor" class="form-control">
     		</div>
     		
        		
    		<div class= "form-group col-md-6" "col">
    			<label for="sistema">Sistema:</label>
     			<input th:field="*{sistema}" type="text" id="sistema" class="form-control">
   			</div>
  		</div>
  		
  		<div class="row">
    		<div class= "form-group col-md-6" "col">
    			<label for="recurso">Recurso:</label>
    			<input th:field="*{recurso}" type="text" id="recurso" class="form-control">
    		</div>
    		 
    		<div class= "form-group col-md-6" "col">
    			<label for="data">Data:</label>
     			<input th:value="*{data}" th:field="*{data}" type="date" id="data" class="form-control">
   			</div>	
   			 
  		</div> 
  		   
		<input type="submit" class="btn btn-dark"></input> 			
	</form>
		
		<div class="error" th:if="${not #lists.isEmpty(critical)}" th:text="${critical}"></div>
		<div class="success" th:if="${not #lists.isEmpty(success)}" th:text="${success}"></div>

	</div>
	
  </body>

</html>