<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
	<head th:include="cabecalho :: headerFragment">
    <title>Consulta</title>
    </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/menu">CADASTRO DE GMUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/consulta">Consulta<span class="sr-only">(current)</span></a>
            </li>
      
            <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
			    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/cadastro">Gmuds</a>
				      <a class="dropdown-item" href="/fornecedor">Fornecedor</a>
				      <a class="dropdown-item" href="/recurso">Recurso</a>
				      <a class="dropdown-item" href="/sistema">Sistema</a>   
			    </div>
			</li>
          </ul>
        </div>
      </div>
    </nav>	

	<!-- Page Content -->
	
    <div class="container align-middle" style="width:90%; border:1px solid #333; border-radius:23px; margin-top:30px ">
          
         <div class="page-title">
            <h2> <span class="fa fa-arrow-circle-o-left">Consulta de GMUD</span></h2>
        </div>
        
        <div class="align-middle">
            <table class="table datatable">
                <thead>
                    <tr>
					<th>Codigo GMUD</th>
					<th>Descricao</th>
					<th>Fabrica</th>
					<th>Sistema</th>
					<th>Recurso</th>
					<th>Data</th>
					<th>Gerente de projeto</th>
					<th>Observações</th>
					</tr>
                </thead>
                <tbody>
					<tr th:each="gmud : ${gmudlist}">
						<td><a th:href="${'/cadastro/' + gmud.codigo}" href="#" th:text="${gmud.codigo}"></a></td>
						<td th:text="${gmud.nome_gmud}"></td>
						<td th:text="${gmud.fornecedorModel}"></td>
						<td th:text="${gmud.sistemaModel}"></td>
						<td th:text="${gmud.recursoModel}"></td>
						<td th:text="${gmud.data}"></td>
						<td th:text="${gmud.gerenteprojeto}"></td>
						<td th:text="${gmud.observacoes}"></td>
                    </tr>
                </tbody>
            </table>
       	</div>
       	
       	<!--  Abaixo temos a barra de navegação entre páginas -->
                       
            <div>

				<nav th:if="${gmudlist.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				
  					<ul class= "pagination  justify-content-center">
    				
	    				<li th:class="${gmudlist.number == 0} ? disabled">
	    				 <a class="page-link" th:href="@{/consulta/(pageSize=${selectedPageSize}, page=${gmudlist.number})}" tabindex="-1">Anterior</a>
					    </li>
					    
					    <li class="page-item"
					    	th:class="${gmudlist.number == (page - 1)} ? 'active pointer-disabled'"
					    	th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
					    	
					    	<a class="page-link" 
					    	th:href="@{/consulta/(pageSize=${selectedPageSize}, page=${page})}"
	                        th:text="${page}"></a>
	               	    </li>
					       
					    <li class="page-item" th:class="${gmudlist.number + 1 == gmudlist.totalPages} ? disabled">
					      <a class="page-link" th:href="@{/consulta/(pageSize=${selectedPageSize}, page=${gmudlist.number + 2})}">Proxima</a>
					    </li>
					    
				  </ul>
				  
				</nav>
            </div>
       	       	
    </div>
  </body>

</html>