<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:include="cabecalho :: headerFragment">
    <title>Recurso</title>
    </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="menu">CADASTRO DE GMUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item active">
              <a class="nav-link" href="/consulta">Consulta</a>
            </li>
               
            <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
			    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/cadastro">Gmuds</a>
				      <a class="dropdown-item" href="/fornecedor">Fornecedor</a>
				      <a class="dropdown-item" href="/recurso">Recurso</a>
				      <a class="dropdown-item" href="/sistema">Sistema</a>
			    </div>
			</li>
          
          </ul>
        </div>
      </div>
    </nav>	

	<!-- Page Content -->
	
	<div class="container align-center" style="width:90%; margin-top:30px ">
	
	<h2>Cadastrar novo Recurso</h2>
	
	<div class="container align-middle" style="width:60%; border:1px solid #333; border-radius:23px; margin-top:30px ">
	<p></p>
	<form class="form-group justify-content-center" th:object="${myRecurso}" th:action="@{/recurso}" method="post">
		
  		<div  class="form-row align-items-center">
    		
    			<label for="fornecedor">Nome do Recurso DEV OSS:</label>
    			<input th:field="*{nome_recurso}" type="text" id="nome_recurso" class="form-control">
     		
  		</div>
  		<p></p>
  		<div  class="form-row align-items-center">
    		
    			<label for="sistema">Telefone Contato:</label>
     			<input th:field="*{contato_recurso}" type="text" id="contato_recurso" class="form-control">
   		
   		</div>
   		<p></p>
   				<button type="submit" class="btn btn-dark">Salvar Dados!</button>	
	</form>
	<p></p>
	</div>	
 
		<div class="error" th:if="${not #lists.isEmpty(critical)}" th:text="${critical}"></div>
		<div class="success" th:if="${not #lists.isEmpty(success)}" th:text="${success}"></div>

	</div>
	
  </body>

</html>