<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:include="cabecalho :: headerFragment">
    <title>Sistema</title>
    </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="menu">CADASTRO DE GMUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item active">
              <a class="nav-link" href="/consulta">Consulta</a>
            </li>
                      
            <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
			    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/cadastro">Gmuds</a>
				      <a class="dropdown-item" href="/fornecedor">Fabrica</a>
				      <a class="dropdown-item" href="/recurso">Recurso</a>
				      <a class="dropdown-item" href="/sistema">Sistema</a>
			    </div>
			</li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>	

	<!-- Page Content-->
	
	<div class="container align-center" style="width:90%; margin-top:30px ">
	
	<h2>Cadastrar novo Sistema</h2>
	
	<div class="container align-middle" style="width:60%; border:1px solid #333; border-radius:23px; margin-top:30px ">
	
		<form class="form-group" th:object="${mySistema}" th:action="@{/sistema}" method="post">
		
		<p></p>
		
  		<div class="form-group">
    		<label for="sistema">Nome Sistema:</label>
    		<input th:field="*{nome_sistema}" type="text" id="nome_sistema" class="form-control" placeholder="Nome do Sistema">
     		<small id="description" class="form-text text-muted">Inserir no campo acima o nome do sistema de OSS.</small>
  		</div>
  		
  		<p></p>
  		  		 	    	
    	<div class="form-group" th:object="${fornecedores}">
      			<select class="form-control" id="fornecedorModelOrder" name="fornecedorModelOrder">
        			<option value="0">Selecione uma Fábrica</option>
        			
        			<option th:each="test : ${fornecedores}"
                th:value="${test.id_fornecedor}"
                th:text="${test.nome_fornecedor}"></option>
                
                
    			</select>       			
    			<small id="description" class="form-text text-muted">Selecionar a fábrica correta.</small>
			</div>   	
   		</div>
   	   		<button type="submit" class="btn btn-dark">Salvar Dados!</button> 			
	</form>	
	
	</div>	
		<div class="error" th:if="${not #lists.isEmpty(critical)}" th:text="${critical}"></div> 
		<div class="success" th:if="${not #lists.isEmpty(success)}" th:text="${success}"></div>
	</div>
	
  </body>

</html>